extends ./layout
block content
  form(action="/auth/register", method="post")
    h1 Login Test
    p
      input(type="text", name="username", placeholder="username")
    p
      input(type="password", name="password", placeholder="password")
    p
      input(type="submit", name="submit", value="Login")
